{
    "env": {
        "node": true,
        "mocha": true,
        "promise": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "no-console": "off",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "comma-dangle": [
            "error",
            "only-multiline"
        ],
        "comma-style": [
            "error",
            "last"
        ],
        "eqeqeq": [
            "error",
            "always"
        ],
        "curly": [
            "error",
            "all"
        ],
        "valid-typeof": [
            "error"
       ]
    }
}

